- name: setup frontend
  hosts: frontend
  become: true
  tasks:
    - name: install nginx
      ansible.builtin.package:
        name: nginx
        state: present
    - name: start Nginx
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true
    - name: remove default content    
      ansible.builtin.command: rm -rf /usr/share/nginx/html/*
    - name: download code
      ansible.builtin.get_url: 
        url: https://expense-joindevops.s3.us-east-1.amazonaws.com/expense-frontend-v2.zip
        dest: /tmp/frontend.zip
    - name: unzip code
      ansible.builtin.unarchive:
        src: /tmp/frontend.zip
        dest: /usr/share/nginx/html/
        remote_src: yes
    - name: nginx Reverse Proxy Configuration.
      ansible.builtin.copy:
        src: expense.conf
        dest: /etc/nginx/default.d/expense.conf
    - name: restart nginx
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true    

